<html>
<head>
    <title>songplane</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
<canvas id="canvas"></canvas>
<div id="info"></div>
<script src="static/js/block.js"></script>
<script src="static/js/index.js"></script>
</body>
</html>